<div class="hero">
  <br />
  <div class="frosty col-10 offset-1 text-center">
    <br />
    <h1>Learn. Love. Code.</h1>
    <br />
    <h2>Learn to Code Anywhere!</h2>
    <br />
    <%= link_to 'Learn More', courses_path, class: 'btn btn-success' %>
    <br /><br />
  </div>
</div>

<br />
<div class="row feature text-center header-summary">
  <div class="col-12 col-sm">
    <%= link_to image_tag("courses.png", alt: "Courses"), '/', class: 'navbar-brand hidden-xs-down hidden-sm-down hidden-md-down' %>
    <br /><br />
    <h3 class="header-text">Amazing Courses</h3>
    <br />
    <p>Choose from any number of courses to study with amazing teachers.</p>
  </div>

  <div class="col-12 col-sm">
    <%= link_to image_tag("learn.png", alt: "Learn"), '/', class: 'navbar-brand hidden-xs-down hidden-sm-down hidden-md-down' %>
    <br /><br />
    <h3 class="header-text">Learn At Your Own Pace</h3>
    <br />
    <p>Enroll and access a courses archive of lessons.</p>
  </div>

  <div class="col-12 col-sm">
    <%= link_to image_tag("community.png", alt: "Community"), '/', class: 'navbar-brand hidden-xs-down hidden-sm-down hidden-md-down' %>
    <br /><br />
    <h3 class="header-text">Join Our Community</h3>
    <br />
    <p>Learn with a community of like-minded individuals.</p>
  </div>
</div>