<br />

<div class="booyah-box col-10 offset-1">
  <h1 class="text-center">Learn Something Today</h1>

  <hr />

  <% @courses.each do |course| %>
    <h2 class="text-center">
      <%= link_to course.title, course_path(course) %>
    </h2>
    <br /><br />
    <%= image_tag course.image, class: 'img-fluid image-center hidden-xs-down hidden-sm-down hidden-md-down' %>
    <br /><br />
    <div class="row">
      <div class="col-sm-9 col-12 text-left">
        <%= course.description %>
      </div>
      <div class="col-sm-3 col-12 text-right">
        <%= link_to 'More Details...', course_path(course), class: 'btn btn-primary btn-large' %>
      </div>
    </div>
    <br class="clr" />
  <% end %>
</div>